/* Move down content because we have a fixed navbar that is 50px tall */
body {
    background-image: url('../Assets/bg.jpg');
    background-attachment: fixed;
    /*object-fit : cover;*/
    /*background-repeat : no-repeat;*/
    background-size: cover;
    padding: 0;
    color: white;
}

.rounded {
    border-radius: 15px !important;
}

.table-bg {
    background-color: rgba(0, 0, 0, 0.25);
}

.form-control {
    background-color: rgba(0,0, 0, 0.25) !important;
    color: white !important;
}



.cardd {
    background-color: rgba(95, 154, 167, 0.5);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}


.navbar-toggle:hover, navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

.navbar {
    color: white;
}

.full-width {
    min-width: 100%;
}
